.trending {
    color: white;
    font-size: 32px;
    font-weight: 300;
    margin-top: 3vh;
    margin-left: 25vh;
}

.trendingContainer {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    margin-left: 24vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.trendingItem {
    position: relative;
    min-width: 470px;
    height: 230px;
    border-radius: 8px;
    overflow: hidden;
}

.thumbnailContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

/* Hover overlay - hidden by default */
.hoverOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 50% opacity black */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* So it doesn't interfere with clicks underneath */
}

/* Show overlay when hovering over the thumbnail container */
.thumbnailContainer:hover:not(:has(.bookmarkIcon:hover)) .hoverOverlay {
    opacity: 1;
}

/* Play button styling */
.playButton {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 28px;
    padding: 9px 24px 9px 19px;
    gap: 19px;
    cursor: pointer;
}

.playButton span {
    color: white;
    font-weight: 500;
    font-size: 18px;
}

/* Optional: Add a slight zoom effect on hover */

/* Make sure the thumbnail has a transition */
.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
}

.itemInfo {
    color: white;
}

.itemMeta {
    display: flex;
    gap: 8px;
    opacity: 0.75;
    font-size: 14px;
}

.itemTitle {
    margin-top: 8px;
    font-size: 24px;
    font-weight: 500;
}

.loading, .error {
    color: white;
    margin-left: 25vh;
    margin-top: 3vh;
    font-size: 18px;
}

.bookmarkIcon {
    position: absolute;
    right: 10px;
    top: 12px;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Makes the background perfectly circular */
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookmarkIcon:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 1024px) {
    .trending {
        margin-left: 5vh;
    }

    .trendingContainer {
        margin-left: 5vh;
    }

}

@media (max-width: 768px) {
    .trendingItem {
        min-width: 90%;
        margin-bottom: 20px; /* Space between items */
    }
}
